<div class="container">
  <div class="row mt-5">
    <h4>投稿一覧</h4>
  </div>

  <div class="row">
    <%= form_tag posts_path, method: :get, class: "boards__searchForm" do %>
      <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
      {prompt: "タグで絞り込み検索", onchange: "submit(this.form);"} %>
    <% end %>
  </div>

  <div class="text-right">
    <%= link_to "新規投稿", new_post_path, class: "btn btn-primary" %>
  </div>

  <div class="row mt-3">
    <%= render 'public/posts/index', posts: @posts %>
  </div>
</div>