<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="text-center mt-5 mb-3">About</h1>

      <h5 class="text-center">
        旅飯は全国のご当地飯の情報を<strong>共有</strong>し<br>
        評価をつけることで人気のご飯を見つけたり<br>
        新しいご飯との<strong>出会い</strong>を広げることを目的としています。<br>
        また、好きな旅行先や好きなご飯のお話で<br>
        盛り上げられるように「グループ作成」なども<br>
        可能ですのでぜひ当サイトをよろしくお願いします！！
      </h5>

      <div class="text-center mt-5">
        <%= image_tag 'food.png', size: "600x300" %>
      </div>

    </div>
  </div>
</div>