<div class="container">
  <div class="row mt-5">
    <h4>会員一覧</h4>
  </div>

  <table class="table">
    <thead style="background-color:#FFCC66;">
      <tr>
        <th>会員ID</th>
        <th>プロフィール画像</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= image_tag customer.get_profile_image, size: '80x80' %></td>
          <td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == false %>
              <p class="text-success">有効</p>
            <% else %>
              <p class="text-secondary">退会</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>